doctype html
html
  head
    title New Loan
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='../all_books') Books
        li
          a(href='../all_patrons') Patrons
        li
          a(href='../all_loans') Loans
    h1 New Loan
    if(errors)
      h2.errors Ooops an error occured!
      ul.errors
      each error in errors
        li
          =error.message
    form(action="/loans/new" method="POST")
      p
        label(for='book_id') Book
        select(id="book_id" name="book_id")
          each book in freeBooks
            option(value=`${book.id}`) #{book.title}
      p
        label(for='patron_id') Patron
        select(id="patron_id" name="patron_id")
          each patron in patrons
            option(value=`${patron.dataValues.id}`) #{patron.dataValues.first_name} #{patron.dataValues.last_name}
      -let todaysDate = new Date().toISOString().slice(0,10);
      -let d = new Date();
      -let sevenDaysFromNow = d.setDate(d.getDate() + 7);
      -sevenDaysFromNow = new Date(sevenDaysFromNow).toISOString().slice(0,10);
      p
        label(for='loaned_on') Loaned on:
        input#loaned_on(type='text', value=`${todaysDate}` name="loaned_on")
      p
        label(for='return_by') Return by:
        input#return_by(type='text', value=`${sevenDaysFromNow}` name="return_by")
      p
        input(type='submit', value='Create New Loan')

// date code obtained here: http://bluegalaxy.info/codewalk/2018/04/27/javascript-add-subtract-days-iso-date-time-strings/