doctype html
html
  head
    title New Loan
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='../all_books') Books
        li
          a(href='../all_patrons') Patrons
        li
          a(href='../all_loans') Loans
    h1 New Loan
    form
      p
        label(for='book_id') Book
        select#book_id
          each book in freeBooks
            option(value=`${book.id}`) #{book.title}
      p
        label(for='patron_id') Patron
        select#patron_id
          each patron in patrons
            option(value=`${patron.dataValues.id}`) #{patron.dataValues.first_name} #{patron.dataValues.last_name}
      p
        label(for='loaned_on') Loaned on:
        input#loaned_on(type='text', value='Sun May 22 2016 17:00:00 GMT-0700 (PDT)')
      p
        label(for='return_by') Return by:
        input#return_by(type='text', value='Sun May 29 2016 17:00:00 GMT-0700 (PDT)')
      p
        input(type='submit', value='Create New Loan')
