doctype html
html
  head
    title Overdue Loans
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='all_books') Books
        li
          a(href='all_patrons') Patrons
        li
          a(href='all_loans') Loans
    h1 Overdue Loans
    p
      a.button(href='/loans/new') Create New Loan
    p
      | Filters 
      a(href='all_loans') All
      |  
      a(href='overdue_loans') Overdue
      |  
      a(href='checked_loans') Checked Out
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
      each loan in loans
        tr
          td
            a(href=`/books/${loan.dataValues.book.id}/edit`) #{loan.dataValues.book.title}
          td
            a(href=`patrons/${loan.dataValues.patron.id}/edit`) #{loan.dataValues.patron.first_name} #{loan.dataValues.patron.last_name}
          td #{loan.dataValues.loaned_on}
          td #{loan.dataValues.return_by}
          td
          td
            a.button(href=`/loans/${loan.dataValues.id}/return_book`) Return Book