doctype html
html
  head
    title #{patron.dataValues.first_name} #{patron.dataValues.last_name}
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='../../all_books') Books
        li
          a(href='../../all_patrons') Patrons
        li
          a(href='../../all_loans') Loans
    h1 Patron: #{patron.dataValues.first_name} #{patron.dataValues.last_name}
    form(action=`/patrons/${patron.dataValues.id}/?_method=PUT` method="POST")
      p
        label(for='first_name') First Name
        input#first_name(type='text', value=`${patron.dataValues.first_name}` name="patron[first_name]")
      p
        label(for='last_name') Last Name
        input#last_name(type='text', value=`${patron.dataValues.last_name}` name="patron[last_name]")
      p
        label(for='address')  Address
        input#address(type='text', value=`${patron.dataValues.address}` name="patron[address]")
      p
        label(for='email') Email
        input#email(type='text', value=`${patron.dataValues.email}` name="patron[email]")
      p
        label(for='library_id') Library ID
        input#library_id(type='text', value=`${patron.dataValues.library_id}` name="patron[library_id]")
      p
        label(for='zip_code') Zip Code
        input#zip_code(type='text', value=`${patron.dataValues.zip_code}` name="patron[zip_code]")
      p
        input(type='submit', value='Update')
    -if(loans[0]!== undefined){
    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
      each loan in loans
        tr
          td
            a(href=`/books/${loan.dataValues.book_id}/edit`) #{loan.dataValues.book.title}
          td
            a(href='#') #{patron.dataValues.first_name} #{patron.dataValues.last_name}
          td #{loan.dataValues.loaned_on}
          td #{loan.dataValues.return_by}
          -if(loan.dataValues.returned_on){
          td #{loan.dataValues.returned_on}
          td
          -}else{
          td
          td
            a.button(href=`../../loans/${loan.dataValues.id}/return_book`) Return Book
          -}
    -}